# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS junk
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Logs
*.log

# Build files (if you later make exe)
dist/
build/
*.spec

# Large video assets (IMPORTANT)
assets/videos/*.mp4
assets/videos/*.mov
assets/videos/*.mkv